/* You can add global styles to this file, and also import other style files */

body {
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/8-pierpont-morgans-library-west-view-1563377066.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 120px;
  padding: 7rem;
  color: #fff;
}
